 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="reviews">
    @foreach(var rev in ViewBag.All_Reviews)
            {
                <p><b>Review for:</b> @rev.rest_name   <b>stars: </b> @rev.stars</p>
                <p><b>Reviewer: </b>@rev.name, @rev.date</p>
                <ul style="list-style: none">
                    <li>@rev.review</li>
                </ul>   
                <div class="container">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Helpful
                </button>    
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-thumbs-down"></span> Unhelpful
                </button>  
    </div>         
                <p>_____________________________________________________________________________________________________________________________________________________</p>
            }
</div>

